.TodoItem {
    font-family: 'Helvetical Neue',
    Arial,
    Helvetica,
    sans-serif;
    font-weight: 300;
    font-size: 15px;
    color: #4d4d4d;
    border-bottom: 1px solid rgb(202, 190, 190);
    display: flex;
    padding: 5px;
}

.TodoItem:last-child {
    border-bottom: none;
}

.TodoItem > p {
    margin: 0 0 0 10px;
    line-height: 32px;
}

.TodoItem-complete > p {
    text-decoration: line-through;
    opacity: .3;
}